/* theme */
:root {
  --text-color: dimgray;
  --checkboxes-bgcolor: lightsteelblue;
  --checkboxes-bgcolor-hover: lightslategray;
  --border-color: #b3b3d41a;
  --bg-color: ghostwhite;
}

/* base */
body {
  padding-top: 1rem;
  background-color: var(--bg-color, #f9f9f9);
  font-family: sans-serif;
  color: var(--text-color, #333);
}

h1 {
  font-weight: normal;
}

.subtitle {
  font-size: 0.5em;
  margin-top: 0.5em;
}

body header,
body main,
body footer {
  margin: 0 auto;
  max-width: 600px;
}

/* create task item */
.wj-create-input {
  margin-top: 2rem;
  margin-bottom: 0.8rem;
}


/* task */
.wj-task {
  padding: 1rem 0.7rem;
}

.wj-task + .wj-task {
  border-top: 1px solid var(--border-color, gray);
}

.wj-task:hover {
  background-color: var(--border-color, gray);
}