/* theme */
:root {
  --text-color: #333;
  --checkboxes-color: red;
  --bg-color: #f9f9f9;
}

/* base */
body {
  background-color: var(--bg-color, #f9f9f9);
  font-family: sans-serif;
  color: var(--text-color, #333);
}

h1 {
  font-weight: normal;
}

.subtitle {
  font-size: 0.5em;
}

hr {
  border: none;
  border-top: 1px solid var(--text-color);
  opacity: 0.5;
}

body > header,
body > main,
body > footer {
  margin: 0 auto;
  max-width: 600px;
}
