<!DOCTYPE HTML>
<html>

<body>

  <template id="tmpl">

    <style>

      :host {
        display: block;
      }

      .input {
        /* border: 1px solid silver; */
        background-color: white;
        height: 1em;
        padding: 15px 20px;
        box-shadow: 0 0 20px rgba(66,66,144,0.1);
      }

      .input:focus {
        outline: none;
      }

    </style>

    <div class="input" contenteditable="">

    </div>

  </template>

  <script src="wj-create-input.js"></script>

</body>

</html>